.reg-logo{
    display: none;
    background: url(img/big-logo.png) no-repeat;
    width: 670px;
    height: 238px;
    position: absolute;
    top: 309px;
    left: -53px;
}

.registration-popup{
        width: 1000px;
        height: 500px;
        background: rgba(0, 100, 161,0.9);
        color: white;
        position: absolute;
        top: -4px;
        padding-top: 30px;
        left: 50%;
        z-index: 10;
        margin-left: -500px;
        border-radius: 4px;
        box-shadow: 0px 6px 14px black;
}
    
    .registration-popup fieldset{
        position: absolute;
        right: 100px;
        top: 182px;
        text-align: right;
        border: none;
    }
    
    .registration-popup fieldset.second{
        top: 264px;
    }
    
    .registration-popup fieldset input, .registration-popup fieldset label{
        display: inline-block;
    }
    
    .registration-popup fieldset .error{
        color: red;
        font-size: 10px;
        display: none;
    }
    
    .registration-popup .reg-close-btn, .registration-popup .login-close-btn{
        display: none;
        cursor: pointer;
        position: absolute;
        right: -22px;
        top: 32px;
    }
    
    .registration-popup button{
        margin-top: 20px;
        width: 176px;
        height: 36px;
    }