
body {
    font-family: Verdana;
    background-color: #fafafa;
}

.super-global {
    background-color: black;
    border-bottom: solid 2px #3399FF;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
}

.global-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.title-content {
    margin-top: 40px;
    height: 200px;
    padding: 20px 20px 20px 20px;
}

.logo-content {
    float: right;
    margin-top: 110px;
    margin-right: 5px;
}

.menu-content {
    height: 60px;
    padding-top: 5px;
    padding-bottom: 1px;
}

.left-menu-content {
    padding: 20px 5px 5px 5px;
    width: 10%;
}

.module-content {
    min-height: 400px;
    width: 90%;
    padding: 20px 20px 20px 20px;
    background-color: #fafafa;
    border-radius: 5px;
    font-size: 0.9em;
}

.footer-content {
    min-height: 100px;
    text-align: center;
    padding: 10px 20px 20px 20px;
    font-size: 0.7em;
}

.clickable {
    cursor: pointer;
}

.glyph-btn-delete:hover {
    color: #560000;
}

.glyph-btn-edit:hover {
    color: #3399FF;
}

.menu-left{
    padding: 3px 2px 3px 2px !important;
    border-radius: 4px !important;
    margin-right: -5px !important;
}

.menu-left:active{
    color: #fafafa !important;
}

.menu-left:hover{
    text-decoration: underline !important;
}

.navbar-default{
    font-family: consolas;
    font-weight: bold;
}