
.modal{
    bottom: inherit !important;
    left: inherit !important;
    right: inherit !important;
    overflow: hidden !important;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    min-width: 400px;
    min-height: 200px;
    background-color: white;
    padding: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
}

.modal.fade.in {
    top: 20% !important;
}

/*div#s2id_parrent.select2-container {
    min-width: 205px !important;
    position: fixed !important;
}*/

.modal-header {
    background-color: #fafafa;
    color: gray;
}

.form-control{
    width: auto !important;
}

.control-group{
    padding: 5px 5px 5px 5px;
}

.modal-backdrop{
    overflow: scroll !important;
    overflow-x: hidden !important;
}

#confirmation_dialog{
    min-height: 130px !important;
}