h3.notfound{
    text-align: center;
}

h3.notfound .first{
    display: block;
    font-size: 200px;
    color: #7a0505;
    text-shadow: 0px 0px 10px black;
}

h3.notfound .second{
    display: block;
    margin-left: 28px;
    text-shadow: 0px 0px 4px rgba(0,0,0,0.6);
    color: rgb(0, 139, 200);
    font-size: 32px;
}


.presentation-section .msg{
    text-align: center;
    margin-top: 30px;
}